<div id="banner-wrapper" class="absolute z-10 w-full transition duration-700 overflow-hidden"
    style="top: -30vh"><!-- BANNER_HEIGHT_EXTEND 30 -->
    <div id="banner" class="object-cover h-full transition duration-700 overflow-hidden relative">
        <div class="transition absolute inset-0 dark:bg-black/10 bg-opacity-50 pointer-events-none"></div>
        <img src='{{ "images/demo-banner.webp" | relURL }}' alt="Banner image of the blog"
            style="object-position: center" loading="lazy" decoding="async" class="w-full h-full object-cover">
    </div>
</div>