{{ define "main" }}
<!-- <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative mb-4">
  <div id="post-container" class="card-base z-10 px-6 md:px-9 pt-6 pb-4 relative w-full ">
    <!-- markdown content -->
    <article class="mb-6 prose dark:prose-invert prose-base max-w-none custom-md">
      {{ .Content }}
    </article>
  </div>
</div>

{{ end }}