<div id="search" x-data="axd.search()">

    <!-- search bar for desktop view -->
    <div id="search-bar" class="hidden lg:flex transition-all items-center h-11 mr-2 rounded-lg
      bg-black/[0.04] hover:bg-black/[0.06] focus-within:bg-black/[0.06]
      dark:bg-white/5 dark:hover:bg-white/10 dark:focus-within:bg-white/10
">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
            class="absolute text-[1.25rem] pointer-events-none ml-3 transition my-auto text-black/30 dark:text-white/30 iconify iconify--material-symbols"
            width="1em" height="1em" viewBox="0 0 24 24">
            <use href='{{"icons/main.svg#material-symbols:search"|relURL}}'></use>
        </svg>
        <input x-model.debounce.100ms="keyword" @focus="searchInit()" placeholder="Search" id="search-desktop" class="transition-all pl-10 text-sm bg-transparent outline-0
         h-full w-40 active:w-60 focus:w-60 text-black/50 dark:text-white/50">
    </div>

    <!-- toggle btn for phone/tablet view -->
    <button aria-label="Search Panel" id="search-switch" @click="seachBtnClick()"
        class="btn-plain scale-animation lg:!hidden rounded-lg w-11 h-11 active:scale-90">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
            class="text-[1.25rem] iconify iconify--material-symbols" width="1em" height="1em" viewBox="0 0 24 24">
            <use href='{{"icons/main.svg#material-symbols:search"|relURL}}'></use>
        </svg>
    </button>

    <!-- search panel -->
    <div id="search-panel" @click.outside="planelOpen = false"
    x-show="planelOpen"
    x-transition:enter-start="opacity-0 -translate-y-1"
    x-transition:leave-end="opacity-0 -translate-y-1"
    class="float-panel float-panel-closed search-panel absolute md:w-[30rem]
top-20 left-4 md:left-[unset] right-4 shadow-2xl rounded-2xl p-2" :class="{'float-panel-closed': !planelOpen}">
        <!-- search bar inside panel for phone/tablet -->
        <div id="search-bar-inside" class="flex relative lg:hidden transition-all items-center h-11 rounded-xl
      bg-black/[0.04] hover:bg-black/[0.06] focus-within:bg-black/[0.06]
      dark:bg-white/5 dark:hover:bg-white/10 dark:focus-within:bg-white/10
  ">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                class="absolute text-[1.25rem] pointer-events-none ml-3 transition my-auto text-black/30 dark:text-white/30 iconify iconify--material-symbols"
                width="1em" height="1em" viewBox="0 0 24 24">
                <use href='{{"icons/main.svg#material-symbols:search"|relURL}}'></use>
            </svg>
            <input x-model.debounce.100ms="keyword" placeholder="Search" id="search-mobile" x-ref="search-mobile" class="pl-10 absolute inset-0 text-sm bg-transparent outline-0
               focus:w-60 text-black/50 dark:text-white/50">
        </div>

        <!-- search results -->
        <template x-for="result in results">
            <a :href="result.url" @click="planelOpen = false" class="transition first-of-type:mt-2 lg:first-of-type:mt-0 group block
       rounded-xl text-lg px-3 py-2 hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)]">
                <div class="transition text-90 inline-flex font-bold group-hover:text-[var(--primary)]"
                    x-text="result.meta.title"></div>
                <div class="transition text-sm text-50" x-text="result.excerpt"></div>
            </a>
        </template>
    </div>

</div>
<style>
    input:focus {
        outline: 0;
    }

    .search-panel {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
</style>