/* Scroll bar */
:root {
  --scrollbar-thumb: var(--scrollbar-bg);
}

:not(html) {
  & ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  & ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 999px;
  }
}

/* medium-zoom */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}


/* 代码块 */
.custom-md {
  & code {
    & span.line {
      &:before {
        position: sticky;
        inset-inline-start: 0;
        justify-content: end;
        display: inline-flex;
        width: 2rem;
        padding-inline-end: .75rem;
        box-sizing: content-box;
        z-index: 2;
      }
    }
  }
}

@font-face {
  font-family: 'Maple Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/maple-mono@5.2.6/files/maple-mono-latin-400-normal.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/npm/@fontsource/maple-mono@5.2.6/files/maple-mono-latin-400-normal.woff) format('woff');

}


.custom-md code {
  font-size: 14px;
  font-family: 'Maple Mono', ui-sans-serif, system-ui, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
}

/* [TODO] [BUG] 修复文章中的下划线位移 */
a {
  border-bottom: unset !important;
}