{{ define "main" }}
<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative mb-4">
    <div id="post-container" class="card-base z-10 px-6 md:px-9 pt-6 pb-4 relative w-full">
        <!-- word count and reading time -->
        <div class="flex flex-row text-black/30 dark:text-white/30 gap-5 mb-3 transition onload-animation">
            <div class="flex flex-row items-center">
                <div
                    class="transition h-6 w-6 rounded-md bg-black/5 dark:bg-white/10 text-black/50 dark:text-white/50 flex items-center justify-center mr-2">
                    <svg width="1em" height="1em" data-icon="material-symbols:notes-rounded">
                        <use href='{{"icons/main.svg#material-symbols:notes-rounded"|relURL}}'></use>
                    </svg>
                </div>
                <div class="text-sm">{{ .WordCount }} words</div>
            </div>
            <div class="flex flex-row items-center">
                <div
                    class="transition h-6 w-6 rounded-md bg-black/5 dark:bg-white/10 text-black/50 dark:text-white/50 flex items-center justify-center mr-2">
                    <svg width="1em" height="1em" data-icon="material-symbols:schedule-outline-rounded">
                        <use href='{{"icons/main.svg#material-symbols:schedule-outline-rounded"|relURL}}'></use>
                    </svg>
                </div>
                <div class="text-sm">{{ .ReadingTime }} min</div>
            </div>
        </div>

        <!-- title -->
        <div class="relative onload-animation">
            <div data-pagefind-body data-pagefind-weight="10" data-pagefind-meta="title" class="transition w-full block font-bold mb-3
                    text-3xl md:text-[2.25rem]/[2.75rem]
                    text-black/90 dark:text-white/90
                    md:before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)]
                    before:absolute before:top-[0.75rem] before:left-[-1.125rem]
                ">
                {{ .Title }}
            </div>
        </div>

        <!-- metadata -->
        <div class="onload-animation">
            {{ partial "meta.html" . }}
            {{ if not .Params.cover }}
            <div class="border-[var(--line-divider)] border-dashed border-b-[1px] mb-5"></div>
            {{end}}
        </div>

        <!-- always show cover as long as it has one -->
        {{if .Params.cover}}
        <div id="post-cover" class="mb-8 rounded-xl banner-container onload-animation overflow-hidden relative">
            <div class="transition absolute inset-0 dark:bg-black/10 bg-opacity-50 pointer-events-none"></div>
            <img src='{{ .Params.cover | default "images/default.webp" | relURL }}' alt=""
                style="object-position: center" loading="lazy" decoding="async" class="w-full h-full object-cover">
        </div>
        {{end}}

        <div data-pagefind-body
            class="prose dark:prose-invert prose-base !max-w-none custom-md mb-6 markdown-content onload-animation">
            {{ .Content }}
            {{ if .Scratch.Get "prevHeading" }}
            </section>
            {{ end }}
        </div>

        {{partial "license.html" .}}
    </div>
</div>

<div class="flex flex-col md:flex-row justify-between mb-4 gap-4 overflow-hidden w-full">
    <a href="{{if .PrevInSection}}{{.PrevInSection.RelPermalink }}{{end}}"
        class="w-full font-bold overflow-hidden active:scale-95 {{if not .PrevInSection}} pointer-events-none {{end}}">
        {{ with .PrevInSection }}
        <div class="btn-card rounded-2xl w-full h-[3.75rem] max-w-full px-4 flex items-center !justify-start gap-4">
            <svg width="1em" height="1em" class="text-[2rem] text-[var(--primary)]"
                data-icon="material-symbols:chevron-left-rounded">
                <use href='{{"icons/main.svg#material-symbols:chevron-left-rounded"|relURL}}'></use>
            </svg>
            <div
                class="overflow-hidden transition overflow-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-black/75 dark:text-white/75">
                {{ .Title }}</div>
        </div>
        {{ end }}

    </a>

    <a href="{{if .NextInSection}}{{.NextInSection.RelPermalink }}{{end}}"
        class="w-full font-bold overflow-hidden active:scale-95 {{if not .NextInSection}} pointer-events-none {{end}}">
        {{ with .NextInSection }}
        <div class="btn-card rounded-2xl w-full h-[3.75rem] max-w-full px-4 flex items-center !justify-end gap-4">
            <div
                class="overflow-hidden transition overflow-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-black/75 dark:text-white/75">
                {{ .Title }}</div>
            <svg width="1em" height="1em" viewBox="0 0 24 24" class="text-[2rem] text-[var(--primary)]"
                data-icon="material-symbols:chevron-right-rounded">
                <use href='{{"icons/main.svg#material-symbols:chevron-right-rounded"|relURL}}'></use>
            </svg>
        </div>
        {{ end }}
    </a>

</div>
{{ end }}