{{ define "main" }}
{{/* $allPosts := where .Site.RegularPages "Type" "posts"  */}}
{{ $allPosts := .Pages }}
{{ $postsByYear := $allPosts.GroupByDate "2006" }}
<div class="card-base px-8 py-6">
    <!-- Years -->
    {{ range $postsByYear }}
    <div>
        <div class="flex flex-row w-full items-center h-[3.75rem]">
            <div class="w-[15%] md:w-[10%] transition text-2xl font-bold text-right text-75">{{ .Key }}</div>
            <div class="w-[15%] md:w-[10%]">
                <div class="h-3 w-3 bg-none rounded-full outline outline-[var(--primary)] mx-auto
                  -outline-offset-[2px] z-50 outline-3"></div>
            </div>
            <div class="w-[70%] md:w-[80%] transition text-left text-50">{{ len .Pages }} posts</div>
        </div>

    </div>
    <!-- Posts -->
    {{ range .Pages }}
    <a href="{{.RelPermalink}}" aria-label="{{.Title}}"
        class="group btn-plain !block h-10 w-full rounded-lg hover:text-[initial]">
        <div class="flex flex-row justify-start items-center h-full">
            <!-- date -->
            <div class="w-[15%] md:w-[10%] transition text-sm text-right text-50">
                {{.Date.Format "01-02"}}
            </div>
            <!-- dot and line -->
            <div class="w-[15%] md:w-[10%] relative dash-line h-full flex items-center">
                <div class="transition-all mx-auto w-1 h-1 rounded group-hover:h-5
                       bg-[oklch(0.5_0.05_var(--hue))] group-hover:bg-[var(--primary)]
                       outline outline-4 z-50
                       outline-[var(--card-bg)]
                       group-hover:outline-[var(--btn-plain-bg-hover)]
                       group-active:outline-[var(--btn-plain-bg-active)]"></div>
            </div>
            <!-- post title -->
            <div class="w-[70%] md:max-w-[65%] md:w-[65%] text-left font-bold
                     group-hover:translate-x-1 transition-all group-hover:text-[var(--primary)]
                     text-75 pr-8 whitespace-nowrap overflow-ellipsis overflow-hidden">
                {{ .Title }}</div>
            <!-- tag list -->
            <div class="hidden md:block md:w-[15%] text-left text-sm transition
                     whitespace-nowrap overflow-ellipsis overflow-hidden text-30">
                    {{ range .Params.tags }}#{{ . }} {{ end }}</div>
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}