{{/*
生成嵌套 TOC
用法: {{ partial "toc.html" . }}
*/}}

{{- $flat := partial "toc/toc-extract-flat.html" .Content -}}

{{- if ge (len $flat) 2 -}}
{{- $minDepth := 9 -}}
{{- range $flat -}}
{{- if lt .depth $minDepth -}}{{- $minDepth = .depth -}}{{- end -}}
{{- end -}}

{{- $tree := partial "toc/toc-build-tree" (dict
"items" $flat
"index" 0
"minDepth" $minDepth
) -}}
<table-of-contents class="group">
  {{- range $index, $node := $tree.nodes -}}
  {{- partial "toc/toc-heading-item.html" (dict "node" $node "index" $index) -}}
  {{- end -}}
  <div id="active-indicator"
    class="-z-10 absolute bg-[var(--toc-btn-hover)] left-0 right-0 rounded-xl transition-all group-hover:bg-transparent border-2 border-[var(--toc-btn-hover)] group-hover:border-[var(--toc-btn-active)] border-dashed">
  </div>
</table-of-contents>
{{- end -}}